<app-header [isShowSearch]="false"></app-header>
<main id="main">
  <div class="container pt-3" data-aos="fade-up">
    <div class="section-header d-flex justify-content-between align-items-center mb-5">
      <h2>Academic</h2>
    </div>
    <div class="row g-5">
      <div class="col-lg-3">
        <div *ngIf="data.length > 0">
          <form class="form-group mb-3" [formGroup]="form">
            <textarea class="form-control" placeholder="Title, Description" (input)="content()" formControlName="content" id="content" rows="2"></textarea>
          </form>

          <span class="cursor-pointer" (click)="collaspseBlock('main_topic_exact')"
                [attr.aria-expanded]="!collapsed['main_topic_exact']" aria-controls="collapseBasic"><b>Main topic</b>
          </span>
          <hr>
          <div id="collapseBasic" [collapse]="collapsed['main_topic_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
              <div class="form-check" *ngFor="let value of group['main_topic_exact']; let i = index">
                <input class="form-check-input" type="checkbox" [checked]="searchResult['main_topic_exact'].indexOf(value) != -1" (change)="search('main_topic_exact', value)" id="main_topic_exact- + {{i}}">
                <label class="form-check-label" for="main_topic_exact- + {{i}}">
                  {{value}}
                </label>
              </div>
            </div>
          </div>

          <span class="cursor-pointer" (click)="collaspseBlock('topics_exact')"
                [attr.aria-expanded]="!collapsed['topics_exact']" aria-controls="collapseBasic1"><b>Topic</b>
          </span>
          <hr>
          <div id="collapseBasic1" [collapse]="collapsed['topics_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
              <div class="form-check" *ngFor="let value of group['topics_exact']; let i = index">
                <input class="form-check-input" [checked]="searchResult['topics_exact'].indexOf(value) != -1" type="checkbox" (change)="search('topics_exact', value)" id="topics_exact- + {{i}}">
                <label class="form-check-label" for="topics_exact- + {{i}}">
                  {{value}}
                </label>
              </div>
            </div>
          </div>

          <span class="cursor-pointer" (click)="collaspseBlock('taxanomy_lv1_exact')"
                [attr.aria-expanded]="!collapsed['taxanomy_lv1_exact']" aria-controls="collapseBasic2"><b>Taxonomy level 1</b>
          </span>
          <hr>
          <div id="collapseBasic2" [collapse]="collapsed['taxanomy_lv1_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
              <div class="form-check" *ngFor="let value of group['taxanomy_lv1_exact']; let i = index">
                <input class="form-check-input" type="checkbox" [checked]="searchResult['taxanomy_lv1_exact'].indexOf(value) != -1" (change)="search('taxanomy_lv1_exact', value)" id="taxanomy_lv1_exact- + {{i}}">
                <label class="form-check-label" for="taxanomy_lv1_exact- + {{i}}">
                  {{value}}
                </label>
              </div>
            </div>
          </div>

          <span class="cursor-pointer" (click)="collaspseBlock('taxanomy_lv2_exact')"
                [attr.aria-expanded]="!collapsed['taxanomy_lv2_exact']" aria-controls="collapseBasic3"><b>Taxonomy level 2</b>
          </span>
          <hr>
          <div id="collapseBasic3" [collapse]="collapsed['taxanomy_lv2_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
              <div class="form-check" *ngFor="let value of group['taxanomy_lv2_exact']; let i = index">
                <input class="form-check-input" type="checkbox" [checked]="searchResult['taxanomy_lv2_exact'].indexOf(value) != -1" (change)="search('taxanomy_lv2_exact', value)" id="taxanomy_lv2_exact- + {{i}}">
                <label class="form-check-label" for="taxanomy_lv2_exact- + {{i}}">
                  {{value}}
                </label>
              </div>
            </div>
          </div>

          <span class="cursor-pointer" (click)="collaspseBlock('taxanomy_lv3_exact')"
                [attr.aria-expanded]="!collapsed['taxanomy_lv3_exact']" aria-controls="collapseBasic4"><b>Taxonomy level 3</b>
          </span>
          <hr>
          <div id="collapseBasic4" [collapse]="collapsed['taxanomy_lv3_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
              <div class="form-check" *ngFor="let value of group['taxanomy_lv3_exact']; let i = index">
                <input class="form-check-input" type="checkbox" [checked]="searchResult['taxanomy_lv3_exact'].indexOf(value) != -1" (change)="search('taxanomy_lv3_exact', value)" id="taxanomy_lv3_exact- + {{i}}">
                <label class="form-check-label" for="taxanomy_lv3_exact- + {{i}}">
                  {{value}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div *ngFor="let item of data" class="col-lg-3 col-sm-6 post-entry-1">
            <a [routerLink]="['/kids', item?.id]">
              <img src="{{imagePrefix + item?.image}}" alt="image"
                   class="img-fluid image-height" onError="this.src='assets/images/no-image.png'">
            </a>
            <div class="post-meta">
              <span class="date">{{item?.volume}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.volume_number}}
              <sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>
              <span class="date">{{item?.letter}} </span> | <span>{{item?.page}}</span>
            </div>
            <h2><a [routerLink]="['/kids', item.id]">{{item?.title}}</a></h2>
          </div>
          <div class="col-lg-12" *ngIf="total > rows">
            <pagination
              [totalItems]="total"
              (pageChanged)="pageChanged($event)"
              [maxSize]="5"
              [(ngModel)]="currentPage"
              [itemsPerPage]="rows"
              class="my-pagination"
            ></pagination>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div *ngIf="data.length == 0" class="pb-3 pt-2 text-center">
          <img src="assets/img/ezgif.com-gif-maker (2).jpg" alt="no result">
          <h2>Sorry But No Result</h2>
          <button type="button" (click)="reset()" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
