@import "../../../assets/css/multiselect-dropdown.css";
::ng-deep .arrow-down, ::ng-deep.arrow-up {
  display: none;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid #fff;
  margin-left: 15px;
  position: absolute;
  top: 0
}
