<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a routerLink="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Talmudy</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <div class="position-relative">
      <span *ngIf="isShowSearch" class="bi-search cursor-pointer pr-t5" (click)="closeWindow()"></span>
      <span *ngIf="!this.requestService.userName" class="pr-t5">
        <a routerLink="/registration" class="mx-2">Sign up /</a>
        <a routerLink="/sign-in" class="me-2">Sign In</a>
      </span>
      <span *ngIf="this.requestService.userName">
       <a routerLink="/profile" class="mx-2">Profile</a>
        <span>/</span>
       <a (click)="logout()" class="mx-2 cursor-pointer">Logout</a>
      </span>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </div>

  </div>


</header>
<div class="search_block" *ngIf="searchShow">
  <app-header-search (close)="closeWindow()"></app-header-search>
</div>
