<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Users</strong>
      </c-card-header>
      <c-card-body>
        <table cTable>
          <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Nickname</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data">
            <td (click)="showModal(item.id, 'view')">
              <span cTooltip="{{item?.first_name}}" class="cursor-pointer">{{item?.first_name}}</span>
            </td>
            <td><span cTooltip="{{item?.last_name}}">{{item?.last_name}}</span></td>
            <td><span cTooltip="{{item?.email}}">{{item?.email}}</span></td>
            <td><span cTooltip="{{item?.nickname}}">{{item?.nickname}}</span></td>
            <td>
              <c-form-check [switch]="item?.status">
                <input cFormCheckInput [disabled]="true" [checked]="item.status" type="checkbox" />
              </c-form-check>
            </td>
            <td class="actions">
              <a (click)="showModal(item.id, 'view')" title="View">
                <i class="fa fa-eye cursor-pointer"></i>
              </a>
              <a (click)="showModal(item.id, 'edit')" title="Edit">
                <i class="fa fa-pencil cursor-pointer"></i>
              </a>
              <a (click)="popup.deleteModal(item.id)" title="Delete">
                <i class="fa fa-close cursor-pointer"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <app-pagination [data]="{data: paginationConfig, url: url}" (newItemEvent)="getData($event)"></app-pagination>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="requestType == 'view'" class="modal-title pull-left">View User</h4>
        <h4 *ngIf="requestType == 'edit'" class="modal-title pull-left">Edit User</h4>
        <h4 *ngIf="requestType == 'add'" class="modal-title pull-left">Add User</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="data_form">

        <div class="modal-body">
          <div *ngIf="requestType == 'view' && viewData">
            <div>
              <p><b>First name: </b>{{viewData[0].first_name}}</p>
              <p><b>Last name: </b>{{viewData[0].last_name}}</p>
              <p><b>Email: </b>{{viewData[0].email}}</p>
              <p><b>Nickname: </b>{{viewData[0].nickname}}</p>
              <p><b>Birthday: </b>{{viewData[0].birthday}}</p>
              <p><b>Status: </b>{{viewData[0].status == 1 ? 'Active' : 'Inactive'}}</p>
            </div>
          </div>
          <div *ngIf="requestType == 'edit' || requestType == 'add'">
            <div class="container-md" data-aos="fade-in">
              <div class="row">
                <div class="col-4 mb-3">
                  <label for="first_name" [ngClass]="(form.controls.first_name?.invalid &&
                      (form.controls.first_name?.dirty || form.controls.first_name?.touched)) ? 'invalid-label-color' : ''">First Name *</label>
                  <input type="text" class="form-control" formControlName="first_name" id="first_name">
                  <div *ngIf="!form.controls.first_name?.valid && (form.controls.first_name?.dirty || form.controls.first_name?.touched)">
                    <span class="error-message">The First Name is required</span>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label for="uri" [ngClass]="(form.controls.last_name?.invalid &&
                  (form.controls.last_name?.dirty || form.controls.last_name?.touched)) ? 'invalid-label-color' : ''">Last Name *</label>
                  <input type="text" class="form-control" formControlName="last_name" id="uri">
                  <div *ngIf="!form.controls.last_name?.valid && (form.controls.last_name?.dirty || form.controls.last_name?.touched)">
                    <span class="error-message">The Last Name is required</span>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label for="birthday" [ngClass]="(form.controls.birthday?.invalid &&
        (form.controls.birthday?.dirty || form.controls.birthday?.touched)) ? 'invalid-label-color' : ''">Birthday *</label>
                  <input type="date" class="form-control" formControlName="birthday" [max]="today" id="birthday" placeholder="Your Birthday" required>
                  <div *ngIf="form.get('birthday')?.hasError('required') && (form.get('birthday')?.dirty || form.get('birthday')?.touched)">
                    <span class="error-message">The birthday is required</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label for="email" [ngClass]="(form.controls.email?.invalid &&
                  (form.controls.email?.dirty || form.controls.email?.touched)) ? 'invalid-label-color' : ''">Email *</label>
                  <input type="text" class="form-control" formControlName="email" id="email">
                  <div *ngIf="!form.controls.email?.valid && (form.controls.email?.dirty || form.controls.email?.touched)">
                    <span class="error-message">The Email is required</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label for="nickname" [ngClass]="(form.controls.nickname?.invalid &&
                  (form.controls.nickname?.dirty || form.controls.nickname?.touched)) ? 'invalid-label-color' : ''">Nickname</label>
                  <input type="text" class="form-control" formControlName="nickname" id="nickname">
                  <div *ngIf="!form.controls.nickname?.valid && (form.controls.nickname?.dirty || form.controls.nickname?.touched)">
                    <span class="error-message">The nickname is required</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label for="password" [ngClass]="(form.controls.password?.invalid &&
                  (form.controls.password?.dirty || form.controls.password?.touched)) ? 'invalid-label-color' : ''">Password *</label>
                  <input type="password" class="form-control" formControlName="password" id="password">
                  <div *ngIf="!form.controls.password?.valid && (form.controls.password?.dirty || form.controls.password?.touched)">
                    <span class="error-message">The password is required</span>
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <label for="password_confirmation" [ngClass]="(form.controls.password_confirmation?.invalid &&
                  (form.controls.password_confirmation?.dirty || form.controls.password_confirmation?.touched)) ? 'invalid-label-color' : ''">Confirm password *</label>
                  <input type="password" class="form-control" formControlName="password_confirmation" id="password_confirmation">
                  <div>
                    <span *ngIf="form.get('password_confirmation')?.hasError('required') && (form.get('password_confirmation')?.dirty || form.get('password_confirmation')?.touched)" class="error-message">The confirm password is required</span>
                    <span *ngIf="form.get('password_confirmation')?.hasError('required') && (form.get('password_confirmation')?.dirty || form.get('password_confirmation')?.touched)" class="error-message">Passwords dont match</span>
                  </div>
                </div>

<!--                <div class="col-6">-->
<!--                  <app-file-input  [control]="form.get('image')" [data]="{label: 'Image', editPath: editImagePath}" formControlName="image"></app-file-input>-->
<!--                </div>-->


                <div class="col-6 mb-3">
                  <label for="status">Status</label>
                  <c-form-check [switch]="true" class="form-control border-0">
                    <input cFormCheckInput type="checkbox" id="status" formControlName="status" />
                  </c-form-check>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
          <button *ngIf="requestType == 'edit' || requestType == 'add'"
                  type="submit" class="btn btn-primary"
                  [disabled]="!form.valid"
          >Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-delete-modal #popup (confirmDelete)="deleteItem($event)"></app-delete-modal>
