.bg-image {
  background-image: url('../../../../assets/img/brand/login-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-color {
  background-color: rgb(143 143 143 / 67%);
}
