<!-- ======= Header ======= -->
<app-header (submit)="searchResult($event)"></app-header>

<main id="main">

  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <swiper
              [pagination]="{ clickable: true}"
              [navigation]="true"
              [loop]="true"
              [autoplay]="{
                delay: 2500,
                disableOnInteraction: false
              }"
            >
              <ng-template swiperSlide>
                <a routerLink="post/1" class="img-bg d-flex align-items-end"
                   style="background-image: url('assets/img/post-slide-1.jpg');">
                  <div class="img-bg-inner">
                    <h2>The Best Homemade Masks for Face (keep the Pimples Away)</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae
                      minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore
                      repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </ng-template
              >
              <ng-template swiperSlide>
                <a routerLink="post/1" class="img-bg d-flex align-items-end"
                   style="background-image: url('assets/img/post-slide-2.jpg');">
                  <div class="img-bg-inner">
                    <h2>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae
                      minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore
                      repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </ng-template
              >
              <ng-template swiperSlide>
                <a routerLink="post/1" class="img-bg d-flex align-items-end"
                   style="background-image: url('assets/img/post-slide-3.jpg');">
                  <div class="img-bg-inner">
                    <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae
                      minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore
                      repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </ng-template>
              <ng-template swiperSlide>
                <a routerLink="post/1" class="img-bg d-flex align-items-end"
                   style="background-image: url('assets/img/post-slide-4.jpg');">
                  <div class="img-bg-inner">
                    <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae
                      minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore
                      repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </ng-template>

            </swiper>

          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->

  <!-- ======= Post Grid Section ======= -->
  <!--<section id="posts" class="posts">-->
    <!--<div class="container" data-aos="fade-up">-->
      <!--<div class="row g-5">-->

        <!--<div *ngIf="data.length == 0" class="text-center">-->
          <!--<img src="assets/img/ezgif.com-gif-maker (2).jpg" alt="no result">-->
          <!--<h2>Sorry But No Result</h2>-->
          <!--<button type="button" class="btn btn-primary" (click)="searchResult('reset')">Reset</button>-->
        <!--</div>-->

        <!--<div *ngFor="let item of data" class="col-lg-3 post-entry-1">-->
          <!--<a [routerLink]="['/post', item?.id]"><img src="assets/img/post-landscape-5.jpg" alt="image" class="img-fluid image-height"></a>-->
          <!--<div class="post-meta">-->
            <!--<span class="date">{{item?.volume}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.volume_number}}-->
            <!--<sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>-->
            <!--<span class="date">{{item?.l}} </span> | <span>{{item?.bn}}</span>-->
          <!--</div>-->
          <!--<h2><a [routerLink]="['/post', item?.id]">{{item?.title}}</a></h2>-->
        <!--</div>-->
      <!--</div> &lt;!&ndash; End .row &ndash;&gt;-->
    <!--</div>-->
  <!--</section> &lt;!&ndash; End Post Grid Section &ndash;&gt;-->

  <section id="kids" class="kids">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>Kids</h2>
        <div><a routerLink="kids" class="more">See All Kids</a></div>
      </div>
      <div class="row g-5">
        <div *ngFor="let item of dataKids" class="col-lg-3 post-entry-1">
          <a [routerLink]="['/kids', item?.id]"><img src="{{imagePrefix + item?.image}}" alt="image" class="img-fluid image-height"></a>
          <div class="post-meta">
            <span class="date">{{item?.volume}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.volume_number}}
            <sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>
            <span class="date">{{item?.letter}} </span> | <span>{{item?.page}}</span>
          </div>
          <h2><a [routerLink]="['/kids', item?.id]">{{item?.title}}</a></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="rabbi-version" class="rabbi-version">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>June2020</h2>
        <div><a routerLink="june2020" class="more">See All June2020</a></div>
      </div>
      <div class="row g-5">
        <div *ngFor="let item of dataJune2020" class="col-lg-3 post-entry-1">
          <a [routerLink]="['/june2020', item?.id]"><img src="{{imagePrefix + item?.image}}" alt="image"
                                                              class="img-fluid image-height"></a>
          <div class="post-meta">
            <span class="date">{{item?.volume}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.volume_number}}
            <sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>
            <span class="date">{{item?.letter}} </span> | <span>{{item?.page}}</span>
          </div>
          <h2><a [routerLink]="['/june2020', item?.id]">{{item?.title}}</a></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="academic" class="academic">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>Academic</h2>
        <div><a routerLink="academic" class="more">See All Academic</a></div>
      </div>
      <div class="row g-5">
        <div *ngFor="let item of dataAcademic" class="col-lg-3 post-entry-1">
          <a [routerLink]="['/academic', item?.id]"><img src="{{imagePrefix + item?.image}}" alt="image" class="img-fluid image-height"></a>
          <div class="post-meta">
            <span class="date">{{item?.volume}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.volume_number}}
            <sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>
            <span class="date">{{item?.letter}} </span> | <span>{{item?.page}}</span>
          </div>
          <h2><a [routerLink]="['/academic', item?.id]">{{item?.title ? item?.title : 'No title'}}</a></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="pieces" class="pieces">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>Pieces</h2>
        <div><a routerLink="pieces" class="more">See All Pieces</a></div>
      </div>
      <div class="row g-5">
        <div *ngFor="let item of dataPieces" class="col-lg-3 post-entry-1">
          <a [routerLink]="['/pieces', item?.id]"><img src="{{imagePrefix + item?.image}}" alt="image" class="img-fluid image-height"></a>
          <div class="post-meta">
            <span class="date">{{item?.volume}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.volume_number}}
            <sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>
            <span class="date">{{item?.letter}} </span> | <span>{{item?.page}}</span>
          </div>
          <h2><a [routerLink]="['/pieces', item?.id]">{{item?.title ? item?.title : 'No title'}}</a></h2>
        </div>
      </div>
    </div>
  </section>


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
