@import "../../../assets/css/main.css";
::ng-deep .owl-nav {
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
::ng-deep .owl-prev, ::ng-deep .owl-prev:hover,
::ng-deep .owl-next, ::ng-deep .owl-next:hover{
  background: transparent !important;
}
