<!-- ======= Header ======= -->
<app-header (submit)="searchResult($event)"></app-header>

<main id="main">

  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a routerLink="post/1" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-1.jpg');">
                  <div class="img-bg-inner">
                    <h2>The Best Homemade Masks for Face (keep the Pimples Away)</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a routerLink="post/1" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-2.jpg');">
                  <div class="img-bg-inner">
                    <h2>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a routerLink="post/1" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-3.jpg');">
                  <div class="img-bg-inner">
                    <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a routerLink="post/1" class="img-bg d-flex align-items-end" style="background-image: url('assets/img/post-slide-4.jpg');">
                  <div class="img-bg-inner">
                    <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero Slider Section -->

  <!-- ======= Post Grid Section ======= -->
  <section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">

        <div *ngIf="data.length == 0" class="text-center">
          <img src="assets/img/ezgif.com-gif-maker (2).jpg" alt="no result">
          <h2>Sorry But No Result</h2>
          <button type="button" class="btn btn-primary" (click)="searchResult('reset')">Reset</button>
        </div>

        <div *ngFor="let item of data" class="col-lg-3 post-entry-1">
          <a [routerLink]="['post', item?.id]"><img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
          <div class="post-meta">
            <span class="date">{{item?.v}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.p}}<sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>
            <span class="date">{{item?.l}} </span> | <span>{{item?.bn}}</span>
          </div>
          <h2><a routerLink="post/1">{{item?.t}}</a></h2>
        </div>
      </div> <!-- End .row -->
    </div>
  </section> <!-- End Post Grid Section -->

  <section id="kids" class="kids">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>Kids</h2>
        <div><a routerLink="kids" class="more">See All Kids</a></div>
      </div>
      <div class="row g-5">
        <div *ngFor="let item of data" class="col-lg-3 post-entry-1">
          <a [routerLink]="['/kids', item?.id]"><img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
          <div class="post-meta">
            <span class="date">{{item?.v}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.p}}<sup>{{item?.s}}</sup> <span class="mx-1">&bullet;</span> </span>
            <span class="date">{{item?.l}} </span> | <span>{{item?.bn}}</span>
          </div>
          <h2><a [routerLink]="['/kids', item?.id]">{{item?.t}}</a></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="rabbi-version" class="rabbi-version">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>Rabbi version</h2>
        <div><a routerLink="rabbi-version" class="more">See All Rabbi version</a></div>
      </div>
      <div class="row g-5">
        <div *ngFor="let item of dataRabbiVersion" class="col-lg-3 post-entry-1">
          <a [routerLink]="['/rabbi-version', item?.id]"><img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
          <div class="post-meta">
            <span class="date">{{item?.V}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.P}}<sup>{{item?.S}}</sup> <span class="mx-1">&bullet;</span> </span>
            <span class="date">{{item?.L}} </span> | <span>{{item?.q}}</span>
          </div>
          <h2><a [routerLink]="['/rabbi-version', item?.id]">{{item?.T}}</a></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="academic" class="academic">
    <div class="container" data-aos="fade-up">
      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>Academic</h2>
        <div><a routerLink="academic" class="more">See All Academic</a></div>
      </div>
      <div class="row g-5">
        <div *ngFor="let item of dataAcademic" class="col-lg-3 post-entry-1">
          <a [routerLink]="['/academic', item?.id]"><img src="assets/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
          <div class="post-meta">
            <span class="date">{{item?.v}} </span> <span class="mx-1">&bullet;</span> <span>{{item?.c}}  </span>
            | <span>{{item?.bn}}</span>
          </div>
          <h2><a [routerLink]="['/academic', item?.id]">{{item?.t ? item?.t : 'No title'}}</a></h2>
        </div>
      </div>
    </div>
  </section>




</main><!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
