<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Users</strong>
        <button class="btn btn-primary float-end" (click)="showModal(null, 'add')">Add</button>
      </c-card-header>
      <c-card-body>
        <table cTable>
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Language</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data">
            <td>
              <span cTooltip="{{item.name}}" class="cursor-pointer"
                    (click)="showModal(item, 'view')">{{item.name}}</span>
            </td>
            <td>{{item?.lang_name}}</td>
            <td class="actions">
              <a (click)="showModal(item, 'view')" title="View">
                <i class="fa fa-eye cursor-pointer"></i>
              </a>
              <a (click)="showModal(item, 'edit')" title="Edit">
                <i class="fa fa-pencil cursor-pointer"></i>
              </a>
              <a (click)="popup.deleteModal(item.id)" title="Delete">
                <i class="fa fa-close cursor-pointer"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <app-pagination [data]="{data: paginationConfig, url: url}" (newItemEvent)="getData($event)"></app-pagination>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="hideModal()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="requestType == 'view'" class="modal-title pull-left">View</h4>
        <h4 *ngIf="requestType == 'edit'" class="modal-title pull-left">Edit</h4>
        <h4 *ngIf="requestType == 'add'" class="modal-title pull-left">Add</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="data_form">

        <div class="modal-body">
          <div *ngIf="requestType == 'view'">
            <p><b>Name: </b>{{viewData?.name}}</p>
            <p><b>Language Name: </b>{{viewData?.lang_name}}</p>
          </div>
          <div *ngIf="requestType == 'edit' || requestType == 'add'">
            <div class="container-md" data-aos="fade-in">
              <div class="row">
                <div class="mb-3">
                  <label for="name" [ngClass]="{'invalid-label-color': hasError(form.get('name'))}">Name *</label>
                  <input type="text" class="form-control" formControlName="name" id="name">
                  <div *ngIf="!form.controls.name?.valid && (form.controls.name?.dirty || form.controls.name?.touched)">
                    <span class="error-message">The Name is required</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
          <button *ngIf="requestType == 'edit' || requestType == 'add'"
                  type="submit" class="btn btn-primary"
                  [disabled]="!form.valid"
          >Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-delete-modal #popup (confirmDelete)="deleteItem($event)"></app-delete-modal>
