<div [formGroup]="form" class="mb-3">
  <label for="image">Image</label>
  <input type="file" class="form-control" (change)="onChangeInput($event)" formControlName="file" id="image">
  <div>
    <span *ngIf="control?.hasError('required') && (control?.dirty || control?.touched)" class="error-message">The Image is required</span>
    <span *ngIf="control?.hasError('type')" class="error-message">Please choose valid image</span>
    <span *ngIf="control?.hasError('size')" class="error-message">Please choose image</span>
  </div>
</div>

