<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">
          Dashboard
        </h4>
      </c-col>
    </c-row>
    <c-row>
      <c-col sm="6">
        <ul>
          <li *ngFor="let item of userList" (click)="joinRoom(item.room_id)">
            <img src="{{item.room_image}}" alt="image">
            <span>{{item.room_name}}</span>
          </li>
        </ul>
      </c-col>
      <c-col sm="6">
        <form [formGroup]="form" (ngSubmit)="send()">
          <textarea formControlName="message"></textarea>
          <button>send</button>
        </form>
      </c-col>
    </c-row>
  </c-card-body>
</c-card>
