<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Posts</strong>
        <button class="btn btn-primary float-end" (click)="showModal(null, 'add')">Add</button>
      </c-card-header>
      <c-card-body>
        <div *ngIf="data && data['message']">
          <span>No result</span>
        </div>
        <table cTable *ngIf="data && !data['message']">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Letter</th>
            <th scope="col">Page</th>
            <th scope="col">Color</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data">
            <td>
              <span cTooltip="{{item.title}}" class="cursor-pointer"
                    (click)="showModal(item.id, 'view')">{{item.title}}</span>
            </td>
            <td>{{item?.letter}}</td>
            <td>{{item?.page}}</td>
            <td>
              {{item?.color}}
            </td>
            <td>
              <c-form-check [switch]="true">
                <input cFormCheckInput [checked]="item.status" disabled type="checkbox"/>
              </c-form-check>
            </td>
            <td class="actions">
              <a (click)="showModal(item.id, 'view')" title="View">
                <i class="fa fa-eye cursor-pointer"></i>
              </a>
              <a (click)="showModal(item.id, 'edit')" title="Edit">
                <i class="fa fa-pencil cursor-pointer"></i>
              </a>
              <a (click)="popup.deleteModal(item.id)" title="Delete">
                <i class="fa fa-close cursor-pointer"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <app-pagination [data]="{data: paginationConfig, url: url}" (newItemEvent)="getData($event)"></app-pagination>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="hideModal()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="requestType == 'view'" class="modal-title pull-left">View</h4>
        <h4 *ngIf="requestType == 'edit'" class="modal-title pull-left">Edit</h4>
        <h4 *ngIf="requestType == 'add'" class="modal-title pull-left">Add</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="data_form">

        <div class="modal-body">
          <div *ngIf="requestType == 'view' && viewData">
            <img style="max-width: 300px; max-height: 350px;" src="{{this.requestService.imgSite + viewData.image?.url}}"
                 alt="img">
            <div>
              <p><b>Title:</b> {{viewData.title}}</p>
              <p><b>Type:</b> {{viewData.type}}</p>
              <p><b>Letter:</b> {{viewData.letter}}</p>
              <p><b>Page:</b> {{viewData.page}}</p>
              <p><b>Volume number:</b> {{viewData.volume_number}}</p>
              <p><b>Color:</b> {{viewData.color}}</p>
              <p><b>Slice of page:</b> {{viewData.slice_of_page}}</p>
              <div><b>Description:</b> <div [innerHTML]="viewData.description"></div></div>

            </div>
          </div>
          <div *ngIf="requestType == 'edit' || requestType == 'add'">
            <div class="container-md" data-aos="fade-in">
              <div class="row">
                <div class="col-6 mb-3">
                  <label for="title" [ngClass]="(form.controls.title?.invalid &&
        (form.controls.title?.dirty || form.controls.title?.touched)) ? 'invalid-label-color' : ''">Title *</label>
                  <input type="text" class="form-control" formControlName="title" id="title">
                  <div *ngIf="form.get('title')?.hasError('required') && (form.controls.title?.dirty || form.controls.title?.touched)">
                    <span class="error-message">The title is required</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label for="type" [ngClass]="{'invalid-label-color': form.get('type')?.invalid && (form.get('type')?.dirty || form.get('type')?.touched)}">Type</label>
                  <angular2-multiselect [data]="type"
                                        [settings]="monoSelect"
                                        formControlName="type"
                  >
                  </angular2-multiselect>
                  <div *ngIf="form.get('type')?.hasError('required') && (form.get('type')?.dirty || form.get('type')?.touched)">
                    <span class="error-message">The type is required</span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="description" [ngClass]="(form.controls.description?.invalid &&
        (form.controls.description?.dirty || form.controls.description?.touched)) ? 'invalid-label-color' : ''">Description * </label>
                  <ckeditor id="description" [editor]="Editor" [config]='config'
                            [formControlName]="'description'"></ckeditor>
                  <div *ngIf="form.get('description')?.hasError('required') && (form.get('description')?.dirty || form.get('description')?.touched)">
                    <span class="error-message">The description is required</span>
                  </div>
                </div>

                <div class="col-6 mb-3">
                  <label for="taxonomies">Taxonomies</label>
                  <angular2-multiselect [data]="taxonomyList"
                                        [settings]="multiSelect"
                                        formControlName="taxonomies"
                  >
                  </angular2-multiselect>
                </div>
                <div class="col-6 mb-3">
                  <label for="volume">Volume</label>
                  <angular2-multiselect [data]="volumesList"
                                        [settings]="monoSelect"
                                        formControlName="volume"
                  >
                  </angular2-multiselect>
                </div>
                <div class="col-6 mb-3">
                  <label for="topics">Topics</label>
                  <angular2-multiselect [data]="topicList"
                                        [settings]="multiSelect"
                                        formControlName="topics"
                  >
                  </angular2-multiselect>
                </div>
                <div class="col-6 mb-3">
                  <label for="title" [ngClass]="(form.controls.volume_number?.invalid &&
        (form.controls.volume_number?.dirty || form.controls.volume_number?.touched)) ? 'invalid-label-color' : ''">Volume number </label>
                  <input type="text" class="form-control" formControlName="volume_number" id="volume_number">
                  <div *ngIf="form.get('volume_number')?.hasError('pattern') && (form.controls.volume_number?.dirty || form.controls.volume_number?.touched)">
                    <span class="error-message">The volume number must be only number</span>
                  </div>
                </div>
                <div class="col-3 mb-3">
                  <label for="letter" [ngClass]="(form.controls.letter?.invalid &&
        (form.controls.letter?.dirty || form.controls.letter?.touched)) ? 'invalid-label-color' : ''">Letter </label>
                  <input type="text" class="form-control" formControlName="letter" id="letter">
                  <div *ngIf="!form.controls.letter?.valid && (form.controls.letter?.dirty || form.controls.letter?.touched)">
                    <span class="error-message">The letter must be maximum 3 symbol and only a-z characters</span>
                  </div>
                </div>
                <div class="col-3 mb-3">
                  <label for="page" [ngClass]="(form.controls.page?.invalid &&
        (form.controls.page?.dirty || form.controls.page?.touched)) ? 'invalid-label-color' : ''">Page </label>
                  <input type="text" class="form-control" formControlName="page" id="page">
                  <div *ngIf="form.get('page')?.hasError('pattern') && (form.controls.page?.dirty || form.controls.page?.touched)">
                    <span class="error-message">The page must be only number</span>
                  </div>
                </div>
                <div class="col-3 mb-3">
                  <label for="slice_of_page" [ngClass]="(form.controls.slice_of_page?.invalid &&
        (form.controls.slice_of_page?.dirty || form.controls.slice_of_page?.touched)) ? 'invalid-label-color' : ''">Slice of page </label>
                  <input type="text" class="form-control" formControlName="slice_of_page" id="slice_of_page">
                  <div *ngIf="!form.controls.slice_of_page?.valid && (form.controls.slice_of_page?.dirty || form.controls.slice_of_page?.touched)">
                    <span class="error-message">The letter must be minimum 2 symbol and only number</span>
                  </div>
                </div>
                <div class="col-3 mb-3">
                  <label for="page" [ngClass]="(form.controls.color?.invalid &&
        (form.controls.color?.dirty || form.controls.color?.touched)) ? 'invalid-label-color' : ''">Color </label>
                  <input type="text" class="form-control" formControlName="color" id="color">
                  <div *ngIf="!form.controls.color?.valid && (form.controls.color?.dirty || form.controls.color?.touched)">
                    <span class="error-message">The color is required</span>
                  </div>
                </div>
                <!--<div class="col-6 mb-3">-->
                  <!--<label for="description">Select Tag</label>-->

                  <!--<mat-form-field class="example-chip-list">-->
                    <!--<mat-chip-list #chipList formControlName="tag" aria-label="tag selection">-->
                      <!--<mat-chip-->
                        <!--*ngFor="let tag of form.get('tag').value"-->
                        <!--[selectable]="selectable"-->
                        <!--[removable]="removable"-->
                        <!--(removed)="remove(tag)">-->
                        <!--{{tag}}-->
                        <!--<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
                      <!--</mat-chip>-->
                      <!--<input-->
                        <!--#tagInput-->
                        <!--[formControl]="tagCtrl"-->
                        <!--[matAutocomplete]="auto"-->
                        <!--[matChipInputFor]="chipList"-->
                        <!--[matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
                        <!--[matChipInputAddOnBlur]="addOnBlur"-->
                        <!--(matChipInputTokenEnd)="add($event)">-->
                    <!--</mat-chip-list>-->
                    <!--<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">-->
                      <!--<ng-container *ngFor="let tag of filteredtags | async">-->
                        <!--<mat-option *ngIf="!form.get('tag').value.includes(tag)" [value]="tag">-->
                          <!--<mat-checkbox color="primary"></mat-checkbox>-->
                          <!--{{tag}}-->
                        <!--</mat-option>-->
                      <!--</ng-container>-->
                    <!--</mat-autocomplete>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
                <div class="col-6 mb-3">
                  <app-file-input  [control]="form.get('image')" [data]="{label: 'Image', editPath: editImagePath}" formControlName="image"></app-file-input>
<!--                  <div *ngIf="imageValue || editImagePath">-->
<!--                    <div class="image-block">-->
<!--                      <img *ngIf="imageValue || editImagePath"-->
<!--                           src="{{imageValue ? imageValue : this.requestService.imgSite + editImagePath}}" alt="image"-->
<!--                           class="user-image">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <label for="image">Image *</label>-->
<!--                  <input type="file" class="form-control" (change)="onChangeInput($event)" formControlName="image"-->
<!--                         id="image">-->
                </div>
                <div class="col-6 mb-3">
                  <label for="status">Status</label>
                  <c-form-check [switch]="true" class="form-control border-0">
                    <input cFormCheckInput type="checkbox" id="status" formControlName="status"/>
                  </c-form-check>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
          <button *ngIf="requestType == 'edit' || requestType == 'add'"
                  type="submit" class="btn btn-primary"
                  [disabled]="!form.valid">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-delete-modal #popup (confirmDelete)="deleteItem($event)"></app-delete-modal>
