@import "../../../assets/css/multiselect-dropdown.css";
::ng-deep .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  height: 200px;
}
.example-chip-list {
  width: 100%;
}
::ng-deep .cdk-overlay-container {
  z-index: 1058;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  border-top-width: 0;
}
::ng-deep .mat-chip-list-wrapper .mat-standard-chip {
  margin: 0 4px 4px 4px !important;
}
