<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Categories</strong>
        <button class="btn btn-primary float-end" (click)="showModal(null, 'add')">Add</button>
      </c-card-header>
      <c-card-body>
        <div *ngIf="data && data['message']">
          <span>No result</span>
        </div>
        <table cTable *ngIf="data && !data['message']">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data">
            <td>
              <span cTooltip="{{item.title}}" class="cursor-pointer" (click)="showModal(item.id, 'view')">{{item.title}}</span>
            </td>
            <td>
              <c-form-check [switch]="true">
                <input cFormCheckInput [checked]="item.status" type="checkbox"/>
              </c-form-check>
            </td>
            <td class="actions">
              <a (click)="showModal(item.id, 'view')" title="View">
                <i class="fa fa-eye cursor-pointer"></i>
              </a>
              <a (click)="showModal(item.id, 'edit')" title="Edit">
                <i class="fa fa-pencil cursor-pointer"></i>
              </a>
              <a (click)="popup.deleteModal(item.id)" title="Delete">
                <i class="fa fa-close cursor-pointer"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <app-pagination [data]="{data: paginationConfig, url: url}" (newItemEvent)="getData($event)"></app-pagination>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="requestType == 'view'" class="modal-title pull-left">View</h4>
        <h4 *ngIf="requestType == 'edit'" class="modal-title pull-left">Edit</h4>
        <h4 *ngIf="requestType == 'add'" class="modal-title pull-left">Add</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <div class="modal-body">
          <div *ngIf="requestType == 'view'">
            <b>Title: </b><p>{{viewData?.title}}</p>
            <b>Status: </b><p>{{viewData?.status == 1 ? 'Active' : 'Inactive'}}</p>
          </div>
          <div *ngIf="requestType == 'edit' || requestType == 'add'">
            <div class="container-md" data-aos="fade-in">
              <div class="row">
                <div class="mb-3">
                  <label for="title" [ngClass]="(form.controls.title?.invalid &&
        (form.controls.title?.dirty || form.controls.title?.touched)) ? 'invalid-label-color' : ''">Title *</label>
                  <input type="text" class="form-control" formControlName="title" id="title">
                  <div *ngIf="!form.controls.title?.valid && (form.controls.title?.dirty || form.controls.title?.touched)">
                    <span class="error-message">The title is required</span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="status">Status</label>
                  <c-form-check [switch]="true" class="form-control border-0">
                    <input cFormCheckInput type="checkbox" id="status" formControlName="status"/>
                  </c-form-check>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
          <button *ngIf="requestType == 'edit' || requestType == 'add'"
                  type="submit" class="btn btn-primary"
                  [disabled]="!form.valid"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-delete-modal #popup (confirmDelete)="deleteItem($event)"></app-delete-modal>
