// Here you can add other styles

.fa-eye {
  color: #20a8d8;
}
.fa-pencil {
  color: #3c4b64
}
.fa-close {
  color: red;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.actions i {
  margin: 0 4px!important;
}
