<form [formGroup]="form" (ngSubmit)="searchSubmit(form.value)">
    <div class="container-md" data-aos="fade-in">
        <div class="row">
            <button type="button" class="btn-close float-end position-relative" (click)="closeForm()" aria-label="Close"></button>
            <h1>Search</h1>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" formControlName="content" id="title">
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="type" [ngClass]="(form.controls.type?.invalid &&
        (form.controls.type?.dirty || form.controls.type?.touched)) ? 'invalid-label-color' : ''">Type *</label>
                    <angular2-multiselect [data]="itemListType"
                                          [settings]="singleSelectSetting"
                                          formControlName="type"
                                          id="type"
                                          (onSelect)="onItemSelect($event)"
                    >
                    </angular2-multiselect>
                  <div *ngIf="form.controls.type?.errors?.required && (form.controls.type?.dirty || form.controls.type?.touched)">
                    <span class="error-message">The type is required</span>
                  </div>
                </div>
            </div>
        </div>
        <span class="cursor-pointer" (click)="collaspseBlock('main_topic_exact')"
              [attr.aria-expanded]="!collapsed['main_topic_exact']" aria-controls="collapseBasic"><b>Main topic</b>
          </span>
        <hr>
        <div id="collapseBasic" [collapse]="collapsed['main_topic_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
                <div class="form-check" *ngFor="let value of group['main_topic_exact']; let i = index">
                    <input class="form-check-input" type="checkbox" (change)="search('main_topic_exact', value)" id="main_topic_exact- + {{i}}">
                    <label class="form-check-label" for="main_topic_exact- + {{i}}">
                        {{value}}
                    </label>
                </div>
            </div>
        </div>

        <span class="cursor-pointer" (click)="collaspseBlock('topics_exact')"
              [attr.aria-expanded]="!collapsed['topics_exact']" aria-controls="collapseBasic1"><b>Topic</b>
          </span>
        <hr>
        <div id="collapseBasic1" [collapse]="collapsed['topics_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
                <div class="form-check" *ngFor="let value of group['topics_exact']; let i = index">
                    <input class="form-check-input" type="checkbox" (change)="search('topics_exact', value)" id="topics_exact- + {{i}}">
                    <label class="form-check-label" for="topics_exact- + {{i}}">
                        {{value}}
                    </label>
                </div>
            </div>
        </div>

        <span class="cursor-pointer" (click)="collaspseBlock('taxanomy_lv1_exact')"
              [attr.aria-expanded]="!collapsed['taxanomy_lv1_exact']" aria-controls="collapseBasic2"><b>Taxonomy level 1</b>
          </span>
        <hr>
        <div id="collapseBasic2" [collapse]="collapsed['taxanomy_lv1_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
                <div class="form-check" *ngFor="let value of group['taxanomy_lv1_exact']; let i = index">
                    <input class="form-check-input" type="checkbox" (change)="search('taxanomy_lv1_exact', value)" id="taxanomy_lv1_exact- + {{i}}">
                    <label class="form-check-label" for="taxanomy_lv1_exact- + {{i}}">
                        {{value}}
                    </label>
                </div>
            </div>
        </div>

        <span class="cursor-pointer" (click)="collaspseBlock('taxanomy_lv2_exact')"
              [attr.aria-expanded]="!collapsed['taxanomy_lv2_exact']" aria-controls="collapseBasic3"><b>Taxonomy level 2</b>
          </span>
        <hr>
        <div id="collapseBasic3" [collapse]="collapsed['taxanomy_lv2_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
                <div class="form-check" *ngFor="let value of group['taxanomy_lv2_exact']; let i = index">
                    <input class="form-check-input" type="checkbox" (change)="search('taxanomy_lv2_exact', value)" id="taxanomy_lv2_exact- + {{i}}">
                    <label class="form-check-label" for="taxanomy_lv2_exact- + {{i}}">
                        {{value}}
                    </label>
                </div>
            </div>
        </div>

        <span class="cursor-pointer" (click)="collaspseBlock('taxanomy_lv3_exact')"
              [attr.aria-expanded]="!collapsed['taxanomy_lv3_exact']" aria-controls="collapseBasic4"><b>Taxonomy level 3</b>
          </span>
        <hr>
        <div id="collapseBasic4" [collapse]="collapsed['taxanomy_lv3_exact']" [isAnimated]="true">
            <div class="well-lg card-block card-header pb-3 mb-3">
                <div class="form-check" *ngFor="let value of group['taxanomy_lv3_exact']; let i = index">
                    <input class="form-check-input" type="checkbox" (change)="search('taxanomy_lv3_exact', value)" id="taxanomy_lv3_exact- + {{i}}">
                    <label class="form-check-label" for="taxanomy_lv3_exact- + {{i}}">
                        {{value}}
                    </label>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-dark float-end" (click)="searchSubmit(form.value)">Search</button>
        <button type="button" class="btn btn-dark float-end me-2" (click)="reset()">Reset</button>
    </div>

</form>
